# Projeto 3

#### Bibliotecas

- pip install pandas
- pip install openpyxl
- pip install plotly
- pip install nbformat

# Carregando os dados do Excel

In [4]:
import pandas as pd

dados = pd.read_excel("vendas.xlsx")

In [5]:
# visualizando as primeiras linhas
dados.head()

,id_pedido,data,loja,cidade,estado,região,tamanho,local_consumo,preco,forma pagamento
0,PED1994,2020-01-01,Loja 4,Santos,São Paulo,Sudeste,300 ml,Consumo no local,5,Dinheiro
1,PED1995,2020-01-02,Loja 6,Florianópolis,Santa Caratina,Sul,500 ml,Consumo no local,11,Débito
2,PED1996,2020-01-03,Loja 3,Rio de Janeiro,Rio de Janeiro,Sudeste,300 ml,Delivery,7,Crédito
3,PED1997,2020-01-04,Loja 1,Fortaleza,Ceará,Nordeste,1000 ml,Consumo no local,7,Débito
4,PED1998,2020-01-05,Loja 5,Fortaleza,São Paulo,Sudeste,200 ml,Delivery,9,Crédito

In [9]:
# visualizando as últimas linhas 
dados.tail()

NameError: name 'dados' is not defined

In [7]:
# formato da tabelas de dados (linhas, colunas)
dados.shape

(7, 10)

In [9]:
# Visualizando informações das colunas
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id_pedido        7 non-null      object
 1   data             7 non-null      datetime64[ns]
 2   loja             7 non-null      object
 3   cidade           7 non-null      object
 4   estado           7 non-null      object
 5   região           7 non-null      object
 6   tamanho          7 non-null      object
 7   local_consumo    7 non-null      object
 8   preco            7 non-null      int64
 9   forma pagamento  7 non-null      object
dtypes: datetime64[ns](1), int64(1), object(8)
memory usage: 692.0+ bytes

In [10]:
# selecionando colunas 
dados[["cidade", "estado"]]

           cidade          estado
0          Santos       São Paulo
1   Florianópolis  Santa Caratina
2  Rio de Janeiro  Rio de Janeiro
3       Fortaleza           Ceará
4       Fortaleza       São Paulo
5       São Paulo       São Paulo
6       São Paulo       São Paulo

# Estatísticas

In [11]:
dados.describe()

                      data      preco
count                    7   7.000000
mean   2020-01-04 00:00:00   7.714286
min    2020-01-01 00:00:00   5.000000
25%    2020-01-02 12:00:00   7.000000
50%    2020-01-04 00:00:00   7.000000
75%    2020-01-05 12:00:00   8.500000
max    2020-01-07 00:00:00  11.000000
std                    NaN   1.889822

#### Análises

In [19]:
# contagem de vendas por loja
dados["loja"].value_counts()

loja
Loja 4     1
Loja 6     1
Loja 3     1
Loja  1    1
Loja 5     1
Loja 2     1
Loja 7     1
Name: count, dtype: int64

In [21]:
dados["cidade"].value_counts()

cidade
São Paulo         2
Fortaleza         2
Santos            1
Rio de Janeiro    1
Florianópolis     1
Name: count, dtype: int64

In [22]:
dados["forma pagamento"].value_counts()

forma pagamento
Crédito     4
Débito      2
Dinheiro    1
Name: count, dtype: int64

#### Agrupando dados

In [25]:
dados.groupby("loja")["preco"].sum().to_frame()

         preco
loja
Loja  1      7
Loja 2       8
Loja 3       7
Loja 4       5
Loja 5       9
Loja 6      11
Loja 7       7

In [8]:
# faturamento por forma de pagamento
dados.groupby("forma pagamento")["preco"].sum().to_frame()

NameError: name 'dados' is not defined

In [7]:
# faturamento
dados_agrupados = dados.groupby(["estado", "cidade", "loja", "forma pagamento"])["preco"].sum().to_frame()

dados_agrupados.to_excel("faturamento.xlsx")

NameError: name 'dados' is not defined

#### Visualização de dados

In [3]:
import plotly.express as px

In [6]:
px.histogram(dados, x="loja")

NameError: name 'dados' is not defined